.CallendarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 307px;
  height: 96px;
  padding: 12px 14px 9px 14px;
  border-radius: 14px;
  border: 2px solid #c7f1ff;
  background: #fafeff;
}
.ToDetailPage {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10px;
  right: 8px;
}
.ToDetailText {
  color: #5e5e5e;
  /* md/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3px;
  margin-right: -3px;
}
.AttendanceTitle,
.DayText {
  color: #454545;
  text-align: start;
  /* bd/18px */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.DayText {
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 0;
}
.Line {
  width: 309px;
  border: 1px solid #bebebe;
}
.DayContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 11px;
}
