.DecoPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.MainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f8f8f8;
  overflow: auto;
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 80px;
}
.OutlineTitle {
  color: #2b2b2b;
  /* bd/20px */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 19px;
}
.NicknameColorTitle {
  color: #2b2b2b;
  /* bd/20px */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}
.PurchaseButton {
  margin-top: 35px;
}
/* 프로필 테두리 */
.OutlineContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.VariousOutlineContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 생성 */
  justify-content: center;
  align-items: center;
}
.EachOutlineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -12px; /* 음수 마진으로 간격 조정 */
  transform: translateX(-6px); /* 요소를 왼쪽으로 이동 */
}
/* 닉네임 색상상 */
.NicknameColorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 28.5px;
}
.VariousNicknameColorContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 9px;
  row-gap: 24px;
  margin-top: 23px;
}
.EachNicknameColorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.NicknameColorSize {
  width: 35px;
  height: 30.25px;
}
