.DiagnosisPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.MainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f8f8f8;
  overflow: auto;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
