.ProgressCardContainer {
  position: relative;
  display: flex;
  width: 335px;
  height: 90px;
  border-radius: 12px;
  background: #f1f1f1;
  margin-top: 10px;
}
.CardTextContainer {
  display: flex;
  margin-left: 17px;
  margin-top: 18px;
  flex-direction: column;
}
.ChallengeTitle {
  color: #2b2b2b;
  /* sb/18px */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ProgressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
  margin-top: 10px;
}
.TotalProgressBar {
  width: 260px;
  height: 14px;
  border-radius: 12px;
  background: #f7fef6;
}
.CurrentProgressBar {
  width: 139.317px;
  height: 14px;
  border-radius: 12px;
  background: #00befc;
}
.CurrentProgressText {
  color: #5e5e5e;
  /* rg/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 8px;
}

.ArrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 48px;
  height: 90px;
  background: #ffffff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.ArrowImg {
  display: flex;
}
