.EachChallengerContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #dedede;
}
.ChallengerInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 335px;
}
.ChallengerProgressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.ProgressText {
  color: #454545;
  text-align: center;
  /* sb/12px */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ChallengeTitle {
  color: #2b2b2b;
  text-align: center;
  margin: 0;
  /* bd/24px */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}
