.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-color: #f8f8f8;
}
.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  overflow: auto;
  margin-top: 35px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}
.inputWrapper p {
  color: #2b2b2b;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.72px;
  margin-bottom: 5px;
}

.buttonWrapper {
  width: 100%;
  position: absolute;
  bottom: 32px;
  margin: 0;
}

.priceWrapper {
  width: 338px;
  height: 52px;
  gap: 10px;
  border-radius: 12px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  font-family: Pretendard;
  color: #787878;
  font-size: 18px;
  font-weight: 700;
}
.priceWrapper .price {
  color: #787878;
  font-size: 18px;
  font-weight: 700;
  width: 178px;
  text-align: center;
  margin: 0;
}
