.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background-color: #f8f8f8;
  overflow: auto;
  padding: 0 20px;
  margin: 0 auto;
}

.descWrapper {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin-top: 35px;
  gap: 7px;
  margin-bottom: 20px;
  font-family: Pretendard;
  line-height: normal;
}
.descWrapper h3 {
  height: 29px;
  font-size: 24px;
  font-weight: 900;
  color: #454545;
  margin: 0;
}
.descWrapper p {
  height: 17px;
  font-size: 14px;
  font-weight: 500;
  color: #5e5e5e;
}
.descWrapper p span {
  color: #13500b;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.inputWrapper p {
  color: #2b2b2b;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.72px;
  margin-bottom: 5px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}

.selectPeriodInfo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: var(--Grey-500, #787878);
  /* rg/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 8px;
  padding-bottom: 20px;
}
