.CallendarPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.MainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f8f8f8;
  overflow: auto;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
.CheerUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  width: 100%;
  padding: 24px 0;
}
.ContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 295px;
  border-radius: 15px;
  background: #fafeff;
  padding: 10px 0px 10px 20px;
  gap: 10px;
}
.CheerUpText {
  color: #2b2b2b;
  /* sb/18px */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.TextStyle {
  color: #004961;
  /* sb/18px */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px;
}
.CalendarContainer {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  gap: 22px;
}
.CalendarTileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 9px 9px 9px;
  border-radius: 14px;
  border: 3px solid var(--Primary-100, #c7f1ff);
  background: var(--Primary-50, #fafeff);
  gap: 5px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15) inset,
    0px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.WeekWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Line {
  display: flex;
  width: 309px;
  border: 1px solid #007094;
  opacity: 0.31;
}
.DaysWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  text-align: center;
  align-items: center;
}
.CheckImg {
  width: 26px;
  height: 26px;
}
