.AddRoomChallengePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: auto;
  max-width: 375px;
  padding: 30px 20px 16px 20px;
  margin: 0 auto;
  background-color: #f8f8f8;
  position: relative;
}

h1 {
  color: var(--Grey-800, #2b2b2b);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}
textarea {
  all: unset;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
}
.inputTitle {
  color: var(--Grey-800, #2b2b2b);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inputTextTitle {
  width: 100%;
  height: 67px;
  padding: 20px 16px;
  box-sizing: border-box;
  border-radius: 12px;
  background: var(--Grey-70, #f1f1f1);
  color: var(--Grey-800, #2b2b2b);
  text-align: start;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inputTextContent {
  width: 100%;
  height: 100px;
  padding: 20px 16px;
  box-sizing: border-box;
  border-radius: 12px;
  background: var(--Grey-70, #f1f1f1);
  color: var(--Grey-700, #454545);
  text-align: start;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inputTextCoin {
  width: 87px;
  height: 23px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Grey-70, #f1f1f1);
  margin-right: 3px;
  color: var(--Grey-700, #454545);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inputCoin {
  display: flex;
  align-items: center;
  color: var(--Grey-700, #454545);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: 0.72px;
}

.peopleBtnWrapper {
  display: flex;
  align-items: center;
  color: var(--Grey-800, #2b2b2b);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: 0.72px;
}
.peopleDownBtn,
.peopleUpBtn {
  width: 29.714px;
  height: 29.714px;
  flex-shrink: 0;
  background: var(--White, #fff);
  color: var(--Grey-150, #dbdbdb);
  text-align: center;
  font-family: Pretendard;
  font-size: 16.508px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.66px;
}
.peopleUpBtn {
  margin-right: 4px;
}
.peopleResult {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29.714px;
  height: 29.714px;
  flex-shrink: 0;
  background: var(--Primary-500main, #00befc);
  color: var(--White, #fff);
  font-family: Pretendard;
  font-size: 15.886px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 23.83px */
  letter-spacing: 0.635px;
}

.peopleInfinity {
  display: flex;
  text-align: center;
  gap: 7px;
  color: var(--Grey-400, #919191);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: 0.56px;
}
.Checkbox {
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #919191;
  border-radius: 2px;
  background-color: white;
}

.inputPublic {
  display: flex;
  gap: 11px;
}
.inputPublic input[type="radio"] {
  -webkit-appearance: none; /* Safari, Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* 표준 */
  width: 26px;
  height: 26px;
  padding: 0;
  border: 2px solid #787878;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
}
.inputPublic input[type="radio"]:checked {
  border: 6px solid #00befc;
}
.inputPublic p {
  display: flex;
  flex-direction: column;
  color: #111;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 2px;
}
.inputPublic p span {
  color: #626262;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.challengeBtn {
  display: flex;
  margin-top: 77px;
  justify-content: center;
  /* position: fixed; */
  width: 100%;
  /* bottom: 16px; */
}
