.PageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.MainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fafafa;
  overflow: auto;
  padding-bottom: 120px;
  align-items: center;
}
.ChallengeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  border-radius: 12px;
  background: #f1f1f1;
  margin-top: 20px;
  padding-bottom: 20px;
}
.ChallengeResultImg {
  width: 68px;
  height: 60px;
  margin-top: 10px;
}
.ChallengeTitle {
  color: #2b2b2b;
  text-align: center;
  /* bd/24px */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.ChallengeText {
  color: #454545;
  text-align: center;
  /* sb/20px */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* 텍스트 줄바꿈 설정 */
  width: 200px; /* 컨테이너 너비 제한 */
  word-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
  word-break: break-word; /* 긴 단어 줄바꿈 */
  white-space: normal; /* 기본 줄바꿈 동작 */
  margin-bottom: 16px;
}
.DateCoinWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: #454545;
  text-align: center;
  /* sb/16px */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 13px;
}
.PeopleText {
  color: #5e5e5e;
  text-align: center;
  /* md/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.ProgressText {
  color: #454545;
  text-align: center;
  /* sb/12px */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.WithChallengerWrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.EachChallengerContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #dedede;
}
.ChallengerInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 335px;
}
.ChallengerProgressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
