.PageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.MainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fafafa;
  overflow: auto;
  padding-bottom: 30px;
  align-items: center;
}
.ConfirmButton {
  position: absolute;
  top: 14px;
  right: 20px;
  color: #2b2b2b;
  text-align: center;
  /* sb/16px */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.SelectedFriendWrapper {
  display: flex;
  flex-direction: row;
  width: 335px;
  height: 70px;
  gap: 10px;
  overflow: auto;
  margin-top: 34px;
}
/* Chrome, Safari, Edge용 스크롤바 숨김 */
.SelectedFriendWrapper::-webkit-scrollbar {
  display: none;
}
.SelectedFriendContainer {
  display: flex;
  height: 28px;
  padding: 4px 5px 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background: #fff;
  /* 넓이가 고정됨 */
  flex-shrink: 0;
}
.SelectedFriendName {
  color: #00befc;
  text-align: center;
  /* bd/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.FriendCnt {
  width: 335px;
  color: #092405;
  /* sb/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 38px 0 16px 20px;
}
.AllFriends {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.EachFriendContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 9px 20px;
  width: 335px;
}
.FriendContent {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.UsernameStyle {
  color: #2b2b2b;
  text-align: center;
  /* sb/18px */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
