.PageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.MainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fafafa;
  overflow: auto;
  padding-bottom: 30px;
  align-items: center;
}
.FriendCnt {
  width: 335px;
  color: #092405;
  /* sb/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 38px 0 16px 20px;
}
.AllFriends {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.EachFriendContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f8f8f8;
  padding: 9px 0;
  gap: 24px;
  width: 375px;
}
.UsernameStyle {
  color: #2b2b2b;
  text-align: center;
  /* sb/18px */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
