.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(69, 69, 69, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
