.successWrapper {
  display: flex;
  width: 100%;
  min-height: 112px;
  box-sizing: border-box;
  align-items: center;
  box-sizing: border-box;
  gap: 13px;
  padding: 9.5px 19px;
  border-radius: 12px;
  border: 4px solid var(--Primary-500main, #00befc);
  background: var(--Primary-50, #fafeff);
}
.failWrapper {
  display: flex;
  width: 100%;
  min-height: 112px;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  padding: 9.5px 19px;
  border-radius: 12px;
  border: 4px solid var(--Grey-400, #919191);
  background: var(--Grey-30, #fafafa);
}

.rightWrapper {
  display: flex;
  flex-direction: column;
}
.rightWrapper p {
  color: var(--Primary-900, #00232e);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0;
}
.challengeInfo {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-top: 5.5px;
}
.date {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--Primary-800, #004961);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.coin {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--Primary-800, #004961);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cons {
  color: var(--Primary-800, #004961);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.target {
  color: var(--Primary-700, #007094);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
