.PageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f8f8;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: auto; */
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  overflow: auto;
}
.myConsTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.myConsTitle {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 24px;
  margin-left: 20px;
}
.myConsTitle span {
  color: var(--Grey-800, #2b2b2b);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.challengeRecordWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}
