.NextLevelContainer {
  position: relative;
  display: flex;
  width: 320px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  border-radius: 12px;
  background: #fafeff;
  border: 2px solid #c7f1ff;
}
.LevelTextContainer {
  display: flex;
  flex-direction: column;
}
.ToLevelPage {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 3px;
  right: 8px;
}
.CurrentLevelText {
  color: #007094;
  /* sb/16px */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 8px;
  margin-bottom: 5px;
}
.ToLevelUpText {
  color: #454545;
  text-align: center;
  /* md/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 13px;
}
.LevelProgressBarContainer {
  position: relative;
  margin-top: 2px;
}
.LevelProgressBar {
  margin-bottom: 15px;
  width: 320px;
  height: 12px;
  border-radius: 16px;
  border: 1px solid #2eccff;
  background: linear-gradient(270deg, #ecfaff 84%, #8ce3ff 90%, #00befc 95%);
}
.NextLevelDust {
  position: absolute;
  top: -33px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NextLevelText {
  color: #004961;
  /* bd/14px */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
